<div class="row section-test">
    <h1>
        <%= __('user') %> : Update
    </h1>
    <div class="small button-group round">
        <a href="/admin" class="button secondary"><i class="fa fa-fw fa-tachometer"></i> Admin</a>
        <a href="/admin/user" class="button secondary"><i class="fa fa-fw fa-chevron-left"></i> Back</a>
    </div>
    <div class="content-create">
        <form action="/admin/user/update/<%= document.id %>" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="columns medium-6 medium-centered">
                    <fieldset class="fieldset">
                        <div class="row">
                            <div class="columns medium-6">
                                <fieldset class="fieldset">
                                    <legend>Connexion</legend>
                                    <label for="username">username
                                        <input name="username" type="text" value="<%= document.username %>"/>
                                    </label>
                                    <label for="email">Choose an email
                                        <input name="email" type="text" value="<%= document.email %>"/>
                                    </label>
                                    <label for="roles">Roles
                                        <select name="roles">
                                            <% _.each(roles, function (role) { %>
                                            <option value="<%= role.id %>" <% if (document.roles.indexOf(role.id)){%> selected <% } %> > <%= role.name %> </option>
                                            <%});%>
                                        </select>
                                    </label>
                                </fieldset>
                            </div>
                            <div class="columns medium-6">
                                <fieldset class="fieldset">
                                    <legend>Information</legend>
                                    <label for="first_name">Choose a firstname <input name="first_name" type="text" value="<%= document.first_name %>"/></label>
                                    <label for="last_name">Choose a lastname <input name="last_name" type="text" value="<%= document.last_name %>"/></label>
                                    <label for="address">address <input name="address" type="text" value="<%= document.address %>"/></label>
                                    <label for="zip_code">code postal <input name="zip_code" type="text" value="<%= document.zip_code %>"/></label>
                                    <label for="city">Ville <input name="city" type="text" value="<%= document.city %>"/></label>
                                    <label for="country">pays <input name="country" type="text" value="<%= document.country %>"/></label>
                                    <label for="phone">phone <input name="phone" type="text" value="<%= document.phone %>"/></label>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row gutter-margin-top">
                <div class="columns small-3 small-centered">
                    <input type="submit" class="button round fullwidth" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>
